* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}

header {
    padding-left: 20px;
    margin: 10px;
}

header img {
    vertical-align: middle;
}

main {
    background-color: #f6f8f9;
    height: 100%;
    padding: 40px 40px;
}

#contenitore-bianco {
    background-color: white;
    margin: auto;
    max-width: 800px; 
    padding-bottom: 70px;
}

section {
    padding-left: 50px;
}

#buttons-section {
    border-bottom: 2px solid lightgrey;
    padding-top: 30px;
    padding-bottom: 20px;
}

button {
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-weight: bold;
}

#add-task {
    background-color: #47adf1;
    color: white;
    border: 0px;
}

#add-section {
    color: lightgray;
    background-color: white;
    border: 2px solid lightgray;
}

h3 span {
    font-size: 14px;
}

section h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}
.check {
    color: #62bfa8;
    border: 1px solid #62bfa8;
    border-radius: 50%;
    padding: 3px;
}

.cross {
    color: #f1938f;
    border: 1px solid #f1938f;
    border-radius: 50%;
    padding: 3px;
}

.label {
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 13px;
    font-size: 10px;
    margin-left: 5px;
}

.blue {
    background-color: #47adf1;
}

.purple {
    background-color: #9c72e4;
}

.green {
    background-color: #64c0a9;
}

.orange {
    background-color: #f19a2d;
}

.pink {
    background-color: #d863a1;
}

.lime {
    background-color: #adc71e;
}

section p {
    margin-bottom: 20px;
}